<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SignalAcquisitionDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SignalAcquisitionDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.7.1979" newVersion="1.2.7.1979"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SignalAcquisitionDemo.Properties.Settings>
      <setting name="COM" serializeAs="String">
        <value />
      </setting>
    </SignalAcquisitionDemo.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <SignalAcquisitionDemo.Properties.Settings>
      <setting name="BaudRate" serializeAs="String">
        <value>115200</value>
      </setting>
      <setting name="deviceDescription" serializeAs="String">
        <value>DemoDevice,BID#0</value>
      </setting>
      <setting name="profilePath" serializeAs="String">
        <value>../../../../../profile/DemoDevice.xml</value>
      </setting>
      <setting name="startPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="diIntervalMs" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="frq" serializeAs="String">
        <value>20</value>
      </setting>
    </SignalAcquisitionDemo.Properties.Settings>
  </applicationSettings>
</configuration>
